html {
    position: relative;
}

body {
    padding-top: 120px;
    ul {
        list-style: none;
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .flash {
        color: #FFF;
        position: absolute;
        right: 0;
        top: 0;
        padding: 20px 20px 0 0;
        opacity: 0;
    }
    #success {
        background-color: #4AC920;
    }
    #warning {
        background-color: #E6B822;
    }
    #error {
        background-color: #C73232;
    }
}

.banner {
    position: absolute;
    padding: 15px 0 15px 30px;
    right: 0;
    left: 0;
    top: 0;
    background-color: #248FB3;
    a {
        color: #FFF;
        &:hover {
            color: #4AC920;
        }
    }
}

.contain {
    padding: 15px 15px 15px 15px;
}