<div class="contain log">
    <div class="signup">
        <p>Inscription</p>
        <form name="signup" signup ng-submit="signupCtrl.action()">
            <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control" ng-model="su_username" placeholder="Login">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="su_email" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" ng-model="su_password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="signin wrapper">
        <p>Connexion</p>
        <form name="signin" signin ng-submit="signinCtrl.action()">
            <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control" ng-model="si_username" placeholder="Login">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" ng-model="si_password" placeholder="Password">
            </div>
        </form>
    </div>
</div>